.carousel {
    height: 300px;
    overflow: hidden;
}

.carousel .wrapper {
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.carousel .controlBox {
    position: relative;
    height: 0;
}
.carousel .controlBox a {
    position: absolute;
    z-index: 3;
    width: 48px;
    height: 48px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.carousel .controlBox .prev {
    background-image: url(../img/bt_prev_light.png);
    left: 0px;
}
.carousel .controlBox .next {
    background-image: url(../img/bt_next_light.png);
    right: 0px;
}
.carousel .controlBox a:active {
    transform: scale(0.8);
}

.carousel .overlay {
    position: relative;
    height: 0;
}
.carousel .overlay .dots {
    position: absolute;
    z-index: 2;
}
.carousel .overlay .dots-right {
    right: 20px;
    margin-top: -40px;
}
#carousel-extras .overlay .dots-below {
    width: 100%;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel .dots a {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/dot_big.png);
}
.carousel .dots a.selected {
    background-image: url(../img/dot_big_sel.png);
}

.carousel .overlay .content {
    position: absolute;
    z-index: 4;
}

.carousel .items {
    width: 100000px;
    position: relative;
    top: 0;
    left: -100%;
}
.carousel .items.transition {
    transition: left .4s ease-out;
}

.carousel .items > div {
    width: 100vw;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
}
