@font-face {
	font-family: Noa;
	src: url(../fonts/Noa-LT-Std-Light.ttf);
}

h1, h2, h3 {
	font-family: Noa;
}

body {
	color: #003145;
	font-family: -apple-system,system-ui,"Segoe UI",Roboto,sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background: #fff;
}

#header {
    width: 100%;
    max-width: 984px;
    margin: 10px auto 0 auto;
    padding: 0 20px;
}

#carousel-fullscreen {
    height: 430px;
}
#carousel-extras {
    height: 200px;
    width: 400px;
    padding-bottom: 20px;
    float: left;
}
#carousel-social {
    height: 260px;
    width: 100%;
    max-width: 984px;
    margin: 40px auto 0 auto;
}

.carousel .items > div {
    background-size: cover;
    background-position: center center;
}

#carousel-fullscreen .items div div {
    pointer-events: none;
}

#carousel-fullscreen .page1 {
    background-image: url(../img/home1.jpg)
}
#carousel-fullscreen .page2 {
    background-image: url(../img/home2.jpg)
}
#carousel-fullscreen .page3 {
    background-image: url(../img/home3.jpg)
}
#carousel-fullscreen .page4 {
    background-image: url(../img/home4.jpg)
}
#carousel-fullscreen .page5 {
    background-image: url(../img/home5.jpg)
}


#extras {
    width: 100%;
    max-width: 984px;
    margin: 40px auto;
    padding: 0 20px;
}
#info-extras {
    height: 200px;
    margin-left: 400px;
    padding: 20px;
}

#carousel-extras .page1 {
    background-image: url(../img/dest1.png)
}
#carousel-extras .page2 {
    background-image: url(../img/dest2.png)
}
#carousel-extras .page3 {
    background-image: url(../img/dest3.png)
}
#carousel-extras .page4 {
    background-image: url(../img/dest4.png)
}

#carousel-social .items .box {
    height: 100%;
    width: 25%;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
#carousel-social .controlBox .prev {
    background-image: url(../img/bt_prev_blue.png);
    left: 0px;
}
#carousel-social .controlBox .next {
    background-image: url(../img/bt_next_blue.png);
    right: 0px;
}

#carousel-social .items .box .face {
    display: inline-block;
    margin-top: 35px;
    width: 100px;
    height: 100px;
    z-index: 1;
    overflow: hidden;
    border: 8px solid white;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
#carousel-social .items .box .content {
    position: absolute;
    margin-top: 100px;
    width: 25%;
    padding-top: 64px;
    text-align: center;
    background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%, rgba(255,255,255,1) 25%);
}

#carousel-social .page .box1 {
    background-image: url(../img/soci1.png)
}
#carousel-social .page .box2 {
    background-image: url(../img/soci2.png)
}
#carousel-social .page .box3 {
    background-image: url(../img/soci3.png)
}
#carousel-social .page .box4 {
    background-image: url(../img/soci4.png)
}
#carousel-social .page .box4 {
    background-image: url(../img/soci4.png)
}
#carousel-social .page .box5 {
    background-image: url(../img/soci5.png)
}
#carousel-social .page .box1 .face {
    background-image: url(../img/socia1.png)
}
#carousel-social .page .box2 .face {
    background-image: url(../img/socia2.png)
}
#carousel-social .page .box3 .face {
    background-image: url(../img/socia3.png)
}
#carousel-social .page .box4 .face {
    background-image: url(../img/socia4.png)
}
#carousel-social .page .box5 .face {
    background-image: url(../img/socia5.png)
}
#carousel-social h3 {
    margin: 0 0 10px 0;
}


.whiteBox {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    background: #fff;
}
.travelPlanner {
    left: 50px;
    top: 30px;
    width: 477px;
    height: 366px;
    background: url(../img-placeholder/travelplanner.png);
}
.travelBox {
    top: 0;
    right: 60px;
    width: 200px;
    padding: 20px;
    position: absolute;
    font-size: 12px;
    color: #003145;
}
.travelBox h2 {
    font-size: 16px;
    color: #005b82;
    margin: 0 0 10px 0;
}
.travelBox ul {
    color: #adadad;
    margin: 0;
}



@media only screen and (min-width: 768px) {
    /* For desktop: */
    .carousel.hover .controlBox a {
        opacity: 0;
        visibility: hidden;
        transition: opacity .2s;
    }
    .carousel.hover:hover .controlBox a {
        opacity: 1;
        visibility: visible;
    }
}

@media only screen and (pointer: coarse) {
    /* For touch screens */
    .carousel .items {
        cursor: grab;
    }
    .carousel.hover .controlBox a {
        opacity: 1;
        visibility: visible;
    }
}
